@include mediaXl {
  .openbtn {
    display: none;
  }
  .carousel-container2 {
    display: none;
  }
  .slide:first-child {
    background: url('https://source.unsplash.com/t8hTmte4O_g/1600x900')
      no-repeat center top/cover !important ;
  }
  .slide:nth-child(2) {
    background: url('https://source.unsplash.com/Znvxeud6sDc/1600x900')
      no-repeat center top/cover !important;
  }
  .slide:nth-child(3) {
    background: url('https://source.unsplash.com/AiHJiRCwB3w/1600x900')
      no-repeat center top/cover !important;
  }
  .slide:nth-child(4) {
    background: url('https://source.unsplash.com/4nXkhLCrkLo/1600x900')
      no-repeat center top/cover !important;
  }
  .slide:nth-child(5) {
    background: url('https://source.unsplash.com/JDEEsQKEm7I/1600x900')
      no-repeat center top/cover !important;
  }
  .slide:nth-child(6) {
    background: url('https://source.unsplash.com/qJ0zGkrE1Zg/1600x900')
      no-repeat center center/cover !important;
  }
}

@include mediaLg {
  footer h5 {
    margin-left: 9% !important;
    transform: translate(-19%) !important;
  }
  .openbtn {
    display: none;
  }
  .carousel-container {
    width: 90% !important;
  }
  .carousel-container2 {
    display: none;
  }
  .menu.resim {
    height: 300px;
    width: 100%;
    background: url('https://source.unsplash.com/98Xi5vMGKck/1140x300')
      no-repeat center top/cover;
  }
}

@include mediaMd {
  //header
  ul.menu2 > li {
    margin-left: 4% !important;
  }
  //footer
  footer h5 {
    margin-left: 3% !important;
    transform: translate(-3%) !important;
  }
  footer {
    height: 150px !important;
    width: auto !important;
  } //slider butonu
  .buttons button#prev {
    margin-left: 40% !important;
    margin-bottom: -50% !important;
  }
  .buttons button#next {
    margin-left: 55% !important;
  }
  //hamburger
  .openbtn {
    display: none;
  }
  //altaki 3lü
  .tam {
    width: 100% !important;
    height: 100% !important;
    margin-top: 5px !important;
    display: grid !important;
  }
  .alt2 {
    height: 400px !important;
    width: 65% !important;
    margin-left: 18% !important;
    margin-top: 4%;
    margin-bottom: 4%;
  } //yeşil alanlar
  .lnk {
    margin-top: 140px !important;
    height: 60px !important;
  }
  .lnk a {
    margin-left: 38% !important;
  }
  .lnk2 {
    margin-top: 140px !important;
    height: 60px !important;
  }
  .lnk2 a {
    margin-left: 38% !important;
  }
  .lnk3 {
    margin-top: 140px !important;
    height: 60px !important;
  }
  .lnk3 a {
    margin-left: 38% !important;
  }
  //iletişim
  .kutu {
    float: left !important;
    vertical-align: center;
    width: 450px;
    border: 1px solid black;
    margin: 30px 50% !important;
    height: 300px;
    transform: translate(-45%);
  }
  //anamenü
  .kutu.menu {
    float: left !important;
    transform: translate(-45%) !important;
  }
  .dıs.menu {
    margin-bottom: 750px !important;
  }
  //slider hakkında
  .carousel-container {
    display: none;
  }
}

@include mediaSm {
  footer {
    height: auto !important;
    width: auto !important;
  }
  footer h5 {
    float: none !important;
    display: block !important;
    margin-top: 20px;
    margin-left: 20% !important;
  }
  .yukarı {
    bottom: 30px !important;
    right: 35px !important;
    padding: 15px 10px !important;
  }
  .buttons button#prev {
    margin-left: 37% !important;
    top: 95% !important;
  }
  .buttons button#next {
    margin-left: 53% !important;
    top: 95% !important;
  }
  .slide .content p {
    font-size: 55px !important;
    margin-bottom: 10px !important;
  }
  .slide .content {
    position: absolute;
    bottom: 53% !important;
  }
  .slide.current .content {
    transform: translateY(0) !important;
  }
  ul.menu2 > li > a {
    display: none !important;
  }
  header {
    position: sticky !important;
    height: 155px !important;
  }
  .tam {
    width: 100% !important;
    height: 100% !important;
    margin-top: 5px !important;
    display: grid !important;
  }
  .alt2 {
    height: 400px !important;
    width: 65% !important;
    margin-left: 18% !important;
    margin-top: 4%;
    margin-bottom: 15%;
  }
  .alt2 i {
    left: 50% !important;
    transform: translate(-50%) !important;
  }

  .lnk a {
    margin-left: 18% !important;
    transform: translate(-18%) !important;
  }
  .lnk2 a {
    margin-left: 18% !important;
    transform: translate(-18%) !important;
  }
  .lnk3 a {
    margin-left: 26% !important;
    transform: translate(-26%) !important;
  }
  .kutu {
    float: left !important;
    vertical-align: center;
    width: 80% !important;
    border: 1px solid black;
    margin: 30px 50% !important;
    height: 300px;
    transform: translate(-50%);
  }
  .kutu h1 {
    margin-left: 16% !important;
    width: 70% !important;
  }
  .tanıtım img {
    width: 310px !important;
  }
  .tanıtım2 img {
    width: 260px !important;
  }
  .tnt3 img {
    margin: 0 0 15px 0 !important;
    padding: 0 0 0 0 !important;
  }
  .kutu.menu {
    height: 270px !important;
  }
  .dıs.menu {
    margin-bottom: 700px !important;
  }
  .carousel-container {
    display: none;
  }
  
}
