@import 'config';
@import 'mobile';
@import 'index';
@import 'iletisim';
@import 'hakkımızda';
@import 'menu';

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  line-height: 1.5;
  padding: 0;
  margin: 0;
  background: rgb(235, 235, 235);
}
body h1 {
  text-align: center;
}
html {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  top: 0;
}
* {
  list-style: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
a {
  padding: 0;
  margin: 0;
  border: 0;
  text-decoration: none;
}
header {
  top: 0px;
  position: relative;
  height: 200px;
  background-color: white;
  width: auto;
  border: 3px solid black;
}
.ort {
  top: 50px;
  height: 20px;
  margin: auto;
  width: 80%;
  background-color: black;
  z-index: 2;
  position: relative;
}
.logo {
  margin: auto;
  height: 1px;
  width: 50%;
  background-color: white;
  top: 9px;
  position: relative;
}
.logo2 {
  margin: auto;
  width: 30%;
  height: 12px;
  top: -59px;
  position: relative;
}
.logo2 img {
  height: 145px;
  width: auto;
  margin-left: 15px;
}
ul.menu2 {
  margin-top: 6.5%;
  margin-left: 20%;
  height: 30px;
  line-height: 58px;
}
ul.menu2 > li {
  float: left;
  position: relative;
  margin-left: 7%;
}
ul.menu2 > li > a {
  display: block;
  font-size: 17px;
  color: darkolivegreen;
  text-transform: uppercase;
  text-decoration: none;
  height: 50px;
  font-family: Arial, Helvetica, sans-serif;
}
ul.menu2 ul {
  background: #e6e4e4;
  width: 190px;
  position: absolute;
  top: 40px;
  left: 0;
  visibility: hidden;
  transition: 0.2s all;
  z-index: 2;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}
ul.menu2 ul li a {
  padding: 7px 12px;
  color: darkolivegreen;
  font-size: 14px;
  display: block;
  text-decoration: none;
  margin-left: 0;
  text-transform: uppercase;
  font-size: 13px;
}
ul.menu2 ul li a:hover {
  background-color: #cfcdcd;
}
ul.menu2 > li:hover ul {
  visibility: visible;
  top: 50px;
}

.sticky {
  position: fixed;
  height: 130px;
  width: 100%;
  color: #f4f4f4;
  min-height: 60px;
  background-color: #f5deb3;
  opacity: 0.95;
  z-index: 2;
  top: 0;
  transition: all 0.7s ease-in-out 0.3s;
}
.sticky img {
  display: none;
}
.sticky .menu-right {
  transition: all 0.7s;
  padding-left: 340px;
}
.sticky a {
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: bold;
  line-height: 110px;
}

.yukarı {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: #000;
  color: #fff;
  padding: 20px 15px;
  text-decoration: none;
  z-index: 2;
  opacity: 0;
  transition: all 0.4s ease-in-out 0s;
}
.yukarı:hover {
  background: white;
  color: black;
}

footer {
  color: #ffffff;
  background-color: rgba(lighten(#474747, 2), 0.5);
  text-align: center;
  padding: 20px;
  width: 100%;
  height: 190px;
  z-index: 1;
}
footer h5 {
  float: left;
  display: block;
  margin-left: 15%;
  text-decoration: none;
  text-transform: uppercase;
}

footer a {
  text-decoration: none;
  color: #ffffff;
}

.btn,
.btn-dark,
.btn-light {
  text-decoration: none;
  display: flexbox;
  padding: 0.5rem 1rem;
  border: 0;
  margin-bottom: 0.3rem;
  border-style: solid;
  border-width: 2px;
}

.btn:hover,
.btn-dark:hover,
.btn-light:hover {
  background: #ffffff;
  color: #000;
  transition: all 0.5s ease-out;
}

.btn-dark {
  background: 0%;

  color: rgb(37, 37, 37);
}

.btn-light {
  background: #c4c4c4;
  color: rgb(37, 37, 37);
}
