.endıs.menu {
  display: block;
  text-align: center;
  position: relative;
}
.kutu img {
  position: relative;
  height: 93%;
  width: 100%;
  margin-top: 1px;
}
.dıs.menu {
  max-width: 1400px;
  width: 100%;
  margin: 0;
  margin-left: 50%;
  transform: translate(-50%);
  height: 700px;
  margin-top: 5%;
  margin-bottom: 5%;
}
.kutu.menu {
  display: inline-block;
  vertical-align: center;
  width: 450px;
  margin: 30px 10px;
  height: 300px;
}

.kutu.menu h1 {
  margin: 0;
  margin-top: -25px;
  background-color: rgb(218, 218, 218);
  margin-left: 75px;
  width: 300px;
}
.kutu.menu a {
  color: darkolivegreen;
}
.menu.resim {
  height: 300px;
  width: 100%;
  background: url('https://source.unsplash.com/98Xi5vMGKck/1140x300') no-repeat
    center top/cover;
}
.menu.resim2 {
  height: 300px;
  width: 100%;
  background: url('https://source.unsplash.com/vqTkZZ1JtOU/1140x300') no-repeat
    center top/cover;
}
.menu.resim3 {
  height: 300px;
  width: 100%;
  background: url('https://source.unsplash.com/XqYlvd5DGKA/1140x450') no-repeat
    center top/cover;
}
.menu.resim4 {
  height: 300px;
  width: 100%;
  background: url('https://source.unsplash.com/LQLIS9AHLZw/1140x500') no-repeat
    center top/cover;
}
.menu.resim5 {
  height: 300px;
  width: 100%;
  background: url('https://source.unsplash.com/P9WkD82hLUI/1140x300') no-repeat
    center top/cover;
}
.en3 {
  margin-left: 50%;
  transform: translate(-50%);
  background-color: rgb(228, 228, 228);
  display: block;
  text-align: center;
  position: relative;
}
.tntt.menu {
  max-width: 1400px;
  width: 100%;
  margin: auto;
  margin-left: 50%;
  transform: translate(-50%);
}
.kutuu.blm {
  display: inline-block;
  vertical-align: center;
  width: 450px;
  margin: 30px 10px;
}
.kutuu.blm h1 {
  margin: 0;
  padding: 0;
}
