.en2 {
  width: 60%;
  margin: 0 0 0 20%;
  background-color: rgb(228, 228, 228);
}
.en2 ul {
  width: 100%;
  margin-left: 3%;
}
.en2 li h2 {
  display: inline;
  left: 2%;
  bottom: 100px;
  position: relative;
  text-transform: uppercase;
}
.en2 li p {
  left: 9.2%;
  bottom: 100px;
  position: relative;
}
